<!-- Solution Guide Modal -->
<div class="modal fade" id="mySolutionGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4>Solution Creation Guide</h4>
            </div>

             
            <div class="modal-body">
                <p>The PhySoc Wiki uses Overleaf to edit and render solution to  past papers.</p>
                <p>
                    <strong>Step 1. </strong><a href="https://www.overleaf.com/signup" target="_blank">Sign Up</a>
                    or </strong><a href="https://www.overleaf.com/users/sign_in" target="_blank">Sign In</a> at
                    Overleaf.
                </p>

                <p><strong>Step 2. </strong> Click on <strong>New Project</strong> to create a new document.</p>

                <img class="img-responsive solution-image" src="images/solution-guide/step2_new-project.png">

                <p><strong>Step 3. </strong>Choose the <strong>Blank Paper</strong> template.</p>
                <img class="img-responsive solution-image" src="images/solution-guide/step3_choose-blank.png">
                <p><strong>Step 4. </strong>Type in your solution in <strong>LaTeX</strong></p>
                <p><strong>Step 5. </strong>Click on <strong>Share</strong>.</p>
                <img class="img-responsive solution-image" src="images/solution-guide/step5_share.png">
                <p><strong>Step 6. </strong>Copy the <strong>Read & Edit Link</strong>.</p>
                <p><strong>Step 7. </strong>Add the link to Imperial Wiki's <strong>Solution Link</strong>.</p>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div><!-- .modal-footer -->
        </div>
    </div>
</div><!-- Modal -->

